---
const waktu = new Date();
---

<footer
  class="w-full h-56 flex items-center justify-center text-sm text-center"
>
  <p>
    Hakcipta &copy; 2024 - {waktu.getFullYear()}
    <a href="https://daire.eu.org">daire</a> &diams; Semua hak dilindung undang-undang.
  </p>
</footer>
