---

---

<li
  class="tag flex items-center justify-center py-1 rounded-md text-sm text-white font-semibold"
>
  hwhwh
</li>

<script>
  const warnaAcak = [
    "#4C3F91",
    "#9145B6",
    "#B958A5",
    "#FF5677",
    "#f0465f",
    "#00505a",
    "#a5be5f",
  ];
  function buatWarnaAcak() {
    const acak = Math.floor(Math.random() * warnaAcak.length);
    return warnaAcak[acak];
  }

  const tag = document.getElementsByClassName(
    "tag",
  ) as HTMLCollectionOf<HTMLElement>;

  for (let i = 0; i < tag.length; i++) {
    const warna = buatWarnaAcak();
    tag[i].style.backgroundColor = warna;
  }
</script>
