---
import { Icon } from "astro-icon/components";
import { TITLE } from "../seo";
---

<nav class="flex items-center gap-3 bg-white px-8 w-full h-14">
  <Icon name="paw" font-size={25} />
  <h2 class="text-xl font-bold">{TITLE}</h2>
  <ul class="flex items-center gap-1">
    <li>
      <a href="/">Tentang</a>
    </li>
    <li><a href="/">Kontak</a></li>
  </ul>
</nav>

<style>
  li {
    @apply text-lg text-gray-600 hover:text-black;
  }
</style>
