---
import { Icon } from "astro-icon/components";
import BaseButton from "./BaseButton.astro";
import BaseTag from "./BaseTag.astro";
---

<li class="bg-white rounded-md p-4 h-56 hover:shadow-gray-300 hover:shadow-md">
  <a href="" class="h-auto flex flex-col justify-between">
    <h2 class="text-xl font-bold">Test title.</h2>
    <sub class="flex items-center gap-3">
      <span class="text-sm"><Icon name="clock-hour-1" /> May 15 2024</span>
      <span class="text-sm"><Icon name="at" /> daire</span>
    </sub>
    <hr class="my-2" />
    <p class="desc-post">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      cupiditate?
    </p>
    <hr class="my-2" />
    <BaseButton />
  </a>
</li>

<style>
  .desc-post {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  sub > span {
    @apply flex items-center gap-1;
  }
</style>
