---
import "@fontsource-variable/plus-jakarta-sans";
import BaseFooter from "../components/BaseFooter.astro";
import BaseNavbar from "../components/BaseNavbar.astro";
import BaseSide from "../components/BaseSide.astro";
import { TITLE } from "../seo";
import "./global.css";

interface Props {
  title_page: string;
}
const { title_page } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{TITLE} | {title_page}</title>
  </head>
  <body class="bg-gray-200">
    <BaseNavbar />
    <section class="sm:grid sm:grid-cols-[3fr_1fr] gap-4">
      <main>
        <slot />
      </main>
      <BaseSide />
    </section>
    <BaseFooter />
  </body>
</html>

<style>
  body {
    font-family: "Plus Jakarta Sans Variable", sans-serif;
  }
  section {
    width: 100%;
    min-height: calc(100vh - 56px - 224px);
  }
</style>
